* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*color:;*/
}

.main-visual {
	width: 100%;
	height: 300px;
	background-image: url(img/mv.jpg);
	background-size: cover;
	background-position: center;
}

.main-visual-content {
	width: 40%;
	height: 300px;
	background-color: rgba( 0, 0, 0, 0.5);
	text-align: center;
	padding-top: 105px;
}

.main-visual-text {
	color: #fff

}

.main-visual-name {
	color: #fff
}