* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header  {
	text-align: center;
	width: 100%;
	padding: 20px 0;
}

header .head {
	font-size: 32px;
}


footer {
	width: 100%;
	height: 120px;
	font-size: 16px;
	background-color: #aaa;
	text-align: center;
	line-height: 120px;
}

.main {
	margin: 0 auto;
	width: 100%;
	height: 700px;
}

.mainul1 {
	padding-top: 50px;
}

.main ul {
	text-align: center;
	font-size: 0;
}

.main li {
	display: inline-block;
	height: 200px;
	width: 200px;
}

.li1 {
	background-color: #e6ffe9;
}

.li2 {
	background-color: #cbffd3;
}

.li3 {
	background-color: #aeffbd;
}

.li4 {
	background-color: #93ffab;
}

.li5 {
	background-color: #f3ffd8;
}

.li6 {
	background-color: #edffbe;
}

.li7 {
	background-color: #e9ffa5;
}

.li8 {
	background-color: #e4ff8d;
}

.li9 {
	background-color: #d9e5ff;
}

.li10 {
	background-color: #bad3ff;
}

.li11 {
	background-color: #a4c6ff;
}

.li12 {
	background-color: #8eb8ff;
}

nav {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.nav-list {
	text-align: center;
	padding: 15px 0;
	margin: 0 auto;

}

.nav-list-item {
	margin: 0 20px;
	display: inline-block;
	list-style: none;
}